.item_container{
    background-color: #fafafa;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.75);
    border-radius: 5px;
    transition: 0.5s ease;
}

.item_container:hover{
    cursor: pointer;
    background-color: #ebebeb;
}


.empty_error_message{

color: rgb(180, 1, 1);
font-weight: lighter;
}

.missing_object_name{

    font-style: italic;
    font-weight: 700;
}