body{
    margin: 0;
    padding: 0;
}

.app_container{
    height: 100vh;
}

.main_monitor{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.75);
}

.left_panel{
    background-color: black;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.right_panel{
    background-color: #e1e1e1;
    height: 300px;
    width: 100%;
}

canvas{
    display: none;
}